<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
            <h3 class="mb-3">Product</h3>
            <input name="id" ngModel hidden>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" ngModel required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" 
                        id="amount" class="form-control" name="amount" 
                        ngModel required 
                        pattern="^[+]?([.]\d+|\d+[.]?\d*)$"
                    >
                </div>
                <div class="col-sm-2 form-goup" name="name">
                    <label for="amount">Metric Unit</label>
                    <select class="form-select" name="metricUnit" ngModel required>
                        <option *ngFor="let _metricUnit of this.metricUnitEnums" [value]="_metricUnit">
                          {{ this.metricUnitMapping[_metricUnit] }}
                        </option>
                      </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12">
                    <button class="btn btn-success me-2" type="submit" [disabled]="!formRef.valid">{{ this.editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger me-2" type="button" (click)="onDelete()" [disabled]="!this.editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
