.password-container {
    position: relative;
    #password {
        padding-left: 1.4em;
    }    
    #showPasswordPattern {
        position: absolute;
        top: 1.2em;
        left: 0.3em;
    }
}

// .toast-password {
//     width: auto !important;
//     max-width: 800px !important;
//     text-align: center;
// }
