<ul class="list-group" *ngFor="let _ingredient of this.ingredients">
    <a *ngIf="withCheckBoxes; else elseCheckBoxes" class="list-group-item d-flex justify-content-between align-items-center mb-2">
        {{ _ingredient.name }} 
        <div>
            <span class="badge rounded-pill text-bg-secondary fs-6">{{ _ingredient.amount }} {{ this.metricUnitMapping[_ingredient.metricUnit] }}</span>
            <input class="form-check-input me-1 ms-2" type="checkbox" value="{{_ingredient.id}}" (change)="onChanged($event)">
        </div>
    </a>
    <ng-template #elseCheckBoxes>
        <a  class="list-group-item d-flex justify-content-between align-items-center mb-2" (click)="onClickIngredient(_ingredient.id)">
            {{ _ingredient.name }} 
            <div>
                <span class="badge rounded-pill text-bg-secondary fs-6">{{ _ingredient.amount }} {{ this.metricUnitMapping[_ingredient.metricUnit] }}</span>
            </div>
        </a>
    </ng-template>
</ul>





