// https://unsplash.com/images/food
// https://academind.com/
// https://blog.logrocket.com/how-to-use-keyof-operator-typescript/
:root {
    --spinner-top: 56px;
    --light-grey: rgb(199, 199, 199)
}

body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

a, button, .form-select {
    cursor: pointer;
}

.dropdown-item {
    &:active {
        background-color: var(--light-grey) !important;
    }
    &:focus-visible {
        outline: none !important;
    }
}

.form-check-input,.form-select {
    &:checked {
        background-color: var(--light-grey);
        border-color: var(--light-grey);
    }
    &:focus {
        box-shadow: none !important;
        border: 1.5px solid black;
        outline-offset: 2px;
        outline: 1.5px solid black;
    }
}

:disabled {
    cursor: not-allowed !important;
 }