// https://unsplash.com/images/food
body{
    margin: 0.5rem;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}

a, button {
    cursor: pointer;
}

:disabled {
   cursor: not-allowed;
}
